.create-workout-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    background-color: white;
    margin-top: 30px;
}
.workout-display-container {
    flex: 1;
    padding: 30px;
}
.add-exercise-container {
    flex: 1;
    padding: 30px;
}
.exercise {
    background: darkblue;
    color: white;
    margin: 5px;
    border-radius: 10px;
}
.exercise div {
    margin: 10px
}
.sets-input {
    width: 65px;
    margin-right: 10px;
}
.reps-input {
    width: 65px;
}